<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.hello-world"
        version   = "3.0.0">
    <name>Face</name>

    <description>
        Face
    </description>

    <author href="http://www.projectmaker.com.br" email="alfredo@projectmaker.com.br">
     Project Maker
    </author>
	<feature name="BackgroundServicePlugin">
      <param name="android-package" value="com.red_folder.phonegap.plugin.backgroundservice.BackgroundServicePlugin"/>
    </feature>
	<gap:plugin name="com.phonegap.plugins.facebookconnect">
		<param name="APP_ID" value="802540193201587" />
		<param name="APP_NAME" value="APPS" />
	</gap:plugin>
	<gap:plugin name="org.apache.cordova.dialogs"   />

	
	<feature name="http://api.phonegap.com/1.0/camera"/>
	<feature name="http://api.phonegap.com/1.0/file"/>
	<feature name="http://api.phonegap.com/1.0/media"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

    <preference name="phonegap-version" value="3.0.0" />
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />
    <icon src="icon.png" />
	<access origin="*"/>
</widget>
